.wiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal {
  position: relative !important;
  top: 5px !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}